{
    #  See https://caddy.community/t/making-sense-of-auto-https-and-why-disabling-it-still-serves-https-instead-of-http/9761
    auto_https off
}

:{$CADDY_AGENT_ADMIN_PORT} {
    @pass {
        path /connections/* /demo/* /server/last-reset /credentials/* /proofs/* /public/*
    }

    # Proxy requests to API service
    reverse_proxy @pass {$AGENT_HOST}:{$AGENT_ADMIN_PORT} {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
    }
}