{$PROXY_HOST_NAME}:{$PROXY_HOST_PORT} {
    # Most common security headers
    header {
        # enable CSP
        Content-Security-Policy "default-src * data: blob: filesystem: 'unsafe-inline' 'unsafe-eval'";
        # enable HSTS
        Strict-Transport-Security "max-age=86400; includeSubDomains";
        # disable clients from sniffing the media type
        X-Content-Type-Options "nosniff";
        # XSS protection
        X-XSS-Protection 1;
        # clickjacking protection
        X-Frame-Options DENY;
    }

    # Log everything to stdout
    log {
        output stdout
    }
    #  Set server root
    root * /srv

    # Enable serving static files
    file_server

    # Enable gzip, zstd compression
    encode zstd gzip

    # Enable templates module - required for 
    templates

    vars basePath "/digital-trust/showcase/"

    # Openly exposed health check endpoint for OpenShift
    handle /health {
        respond 200
    }
    handle /digital-trust/showcase/demo {
        redir {vars.basePath}
    }
    handle /digital-trust/showcase* {

         # Required for SPA router to work
        @spa_router {
            not path /digital-trust/showcase/demo/* /digital-trust/showcase/server/* /digital-trust/showcase/agent/ready /digital-trust/showcase/public/* /digital-trust/showcase/qr
            file {
                try_files {path} /index.html
            }
        }
        rewrite @spa_router {http.matchers.file.relative}

        # pass API requests to backend
        @pass {
            path /digital-trust/showcase/demo/* /digital-trust/showcase/server/* /digital-trust/showcase/agent/ready /digital-trust/showcase/public/* /digital-trust/showcase/qr
        }

        # Proxy requests to API service
        reverse_proxy @pass {$API_HOST}:{$API_PORT} {
            trusted_proxies 0.0.0.0/0
            header_up Host {upstream_hostport}
            header_up X-Forwarded-Host {host}
        }

    }
    handle {
        redir {vars.basePath}
    }
    
}